@using eCompany.Models.DTOs.Entities
@model TaskEntityDTO


<h1 style="text-align:center" class="p-3">@Model.CompanyName Company</h1>

<div class="row p-2 border m-auto col-8"  >
    <div class="col-md-12">
        <form id="registerForm" class="row" method="post" enctype="multipart/form-data">
            <div id="Employee" hidden >@Model.EmployeeName</div>
            <div id="EmployeeId" hidden>@Model.EmployeeId</div>
            <div id="SuperAdmin" hidden >@Model.SuperAdminId</div>
            <div id="CompanyId" hidden >@Model.CompanyId</div>
            <h3 style="text-align:center">Create a new Task</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Title" class="form-control" style="border-radius:5px;" aria-required="true" />
                <label asp-for="Title" style="margin-left:5px;"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6 "  id="Input_Employee">
                <select asp-for="EmployeeId"  class="form-control" autocomplete="off" id="ajaxSelect2" >
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6" id="Input_EmployeeId2" style="display:none">
                <select asp-for="EmployeeId" asp-items="@Model.EmployeeList" class="form-select" required>
                   
                </select>
                <label asp-for="EmployeeName" style="margin-left:5px;"></label>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="DayDuration" type="number" min="1" class="form-control" style="border-radius:5px;" aria-required="true" />
                <label asp-for="DayDuration" style="margin-left:5px;"></label>
                <span asp-validation-for="DayDuration" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="AssignedDate" type="date" class="form-control" style="border-radius:5px;" aria-required="true" />
                <label asp-for="AssignedDate" style="margin-left:5px;"></label>
                <span asp-validation-for="AssignedDate" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="CompanyName" readonly class="form-control" style="border-radius:5px;" />
                <label asp-for="CompanyName" style="margin-left:5px;"></label>
            </div>
            <div class="form-floating py-2 col-12">
                <textarea asp-for="Description" cols="120" rows="5" class="form-control" style="height:auto; border-radius:5px;" aria-required="true"></textarea>
                <label asp-for="Description" style="margin-left:5px;"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating py-2 col-12" style="text-align:center">
                <a asp-area="Admin" asp-controller="Task" asp-action="Index" id="Submit_CompanyAdmin" type="button" class="btn btn-primary btn-lg btn-block m-2">Discard Task</a>
                <a asp-area="Admin" asp-controller="Manage" asp-action="GetTasks" asp-route-companyId="@Model.CompanyId" id="Submit_SuperAdmin" style="display:none" type="button" class="btn btn-primary btn-lg btn-block m-2">Discard Task</a>
                <button id="registerSubmit" type="submit" class="w-90 btn btn-success btn-lg btn-block m-2">Assign Task</button>
            </div>
	        </form>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function() {
            var employee = $('#Employee').text();
            if(employee != ""){
                $('#Input_EmployeeId2').show();
                $('#Input_Employee').hide();
             
            }

            var superAdmin = $('#SuperAdmin').text();
            if(superAdmin != ""){
                $('#Submit_SuperAdmin').show();
                $('#Submit_CompanyAdmin').hide();
             
            }
        
        });

    </script>
    
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/updateTaskList.js"></script>
    
    <partial name="_ValidationScriptsPartial" />

      
}